@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

* {
  font-family: Nunito;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.loginForm {
  margin-left: 20%;
}

.logoLogin {
  margin-left: 20%;
}


@media only screen and (min-width: 720px) {
  .headerLogo{
    margin-left: 15%;
  }
}
